<a href="https://colab.research.google.com/github/AngelGui/Pandas_learining/blob/main/1_%E6%95%B0%E6%8D%AE%E5%8A%A0%E8%BD%BD%E4%B8%8E%E5%AD%98%E5%82%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas 进阶修炼 ｜早起Python
<br>

**本习题由公众号【早起Python & 可视化图鉴】 原创，转载及其他形式合作请与我们联系（微信号`sshs321`)，未经授权严禁搬运及二次创作，侵权必究！**



本习题基于 `pandas` 版本 `1.1.3`，所有内容应当在 `Jupyter Notebook` 中执行以获得最佳效果。

不同版本之间写法可能会有少许不同，如若碰到此情况，你应该学会如何自行检索解决。

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 1 - 数据加载与存储

是的，常常被忽略的「<font color=#E36C07>**数据加载与存储**</font>」也大有门道且值得作为本套习题的开门之章。

在一次数据分析的过程中，你可能只会读取或存储一两次数据集。

**但若能灵活掌握各项设置，在读取阶段就将数据筛选、匹配、格式指定等操作完成，有时会为我们节省大量时间。**

在本节习题中，我将 pandas 数据分析中常见的数据读取与存储操作进行整理。

<font color=#E36C07>**既可以用于巩固、学习各种操作，也可以作为速查手册使用**</font>。

## 初始化

<br>

该 `Notebook` 版本为**纯习题版**

如果需要答案或者提示，可以微信搜索公众号「早起Python」获取！

## 1-1 数据读取

### 1 读取 Excel 文件

<br>

- 读取当前目录下 `某招聘网站数据.csv` 文件

- 读取当前目录下 `TOP250.xlsx` 文件

**注意**：使用 `pandas` 读取 `CSV` 与 读取 `xlsx` 格式的 `Excel` 文件方法大致相同

因此接下来与 `Excel` 相关的操作均以 `CSV` 格式进行出题。

In [8]:
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/某招聘网站数据.csv")
# data = pd.read_excel("/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/TOP250.xlsx")

### 2 读取 Excel 文件｜指定位置

在大多数情况下，我们会将 `notebook` 和数据源文件放在同一个目录（文件夹下），这样直接使用`pd.read_xxx("文件名")`即可成功读取。

但有时需要读取的文件和 `notebook` 不在同一个目录下，这时可以使用绝对路径或者相对本 `notebook` 的路径。

现在请读取本套习题中第二章节下的数据，即 `2 - 个性化显示设置/data.csv`

In [9]:
data.head()

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True

###  3 读取 Excel 文件｜指定行（顺序）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件的 <font color = '#5F5FFC'>前20行</font>

In [10]:
data.head(20)

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
5,6882347,数据分析,94826,50-150人,"移动互联网,社交",B轮,"['股票期权', '扁平管理', '五险一金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
6,6841659,数据分析,348784,50-150人,"移动互联网,电商",A轮,"['大牛团队', '扁平管理', '年底双薪', '股票期权']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
7,6764018,数据建模工程师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],True
8,6458372,数据分析专家,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",产品|需求|项目类,数据分析,其他数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
9,6786904,数据分析师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,BI工程师,...,NaN,0,0,0,NaN,NaN,0,0,[],True
10,6804629,数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
11,6847013,大数据分析工程师(J11108),55046,2000人以上,"移动互联网,企业服务",上市公司,"['技能培训', '年底双薪', '带薪年假', '岗位晋升']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
12,6763962,数据分析工程师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
13,6804489,资深数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
14,6657285,数据分析师,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
15,6882983,产品运营（偏数据分析）,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",运营|编辑|客服类,运营,数据运营,...,NaN,0,0,0,NaN,NaN,0,0,[],True
16,6486988,资深数据分析师（杭州）,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
17,5519962,大数据建模总监,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
18,5559894,数据建模专家-杭州-01546,6502,500-2000人,"信息安全,数据服务",D轮及以上,"['技能培训', '股票期权', '绩效奖金', '岗位晋升']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
19,6702852,数据分析专家（游戏业务）,593,2000人以上,"移动互联网,游戏",不需要融资,"['五险一金', '交通补助', '绩效奖金', '节日礼物']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True

###  4 读取 Excel 文件｜指定行（跳过）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件并<font color = '#5F5FFC'>跳过前20行</font>

In [12]:
df = pd.read_csv("/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/某招聘网站数据.csv", skiprows=10)
df.head()

,6786904,数据分析师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,BI工程师,...,Unnamed: 42,0.3,0.4,0.5,Unnamed: 46,Unnamed: 47,0.6,0.7,[],TRUE
0,6804629,数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,6847013,大数据分析工程师(J11108),55046,2000人以上,"移动互联网,企业服务",上市公司,"['技能培训', '年底双薪', '带薪年假', '岗位晋升']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6763962,数据分析工程师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
3,6804489,资深数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
4,6657285,数据分析师,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True

###  5 读取 Excel 文件｜指定行（条件）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件中全部<font color = '#5F5FFC'>偶数行</font>

思考：如果是读取全部奇数行，或者更多满足指定条件的行呢？

In [24]:
data_even = df.iloc[::2, :]
data_even.head()

,6786904,数据分析师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,BI工程师,...,Unnamed: 42,0.3,0.4,0.5,Unnamed: 46,Unnamed: 47,0.6,0.7,[],TRUE
0,6804629,数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6763962,数据分析工程师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6657285,数据分析师,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
6,6486988,资深数据分析师（杭州）,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
8,5559894,数据建模专家-杭州-01546,6502,500-2000人,"信息安全,数据服务",D轮及以上,"['技能培训', '股票期权', '绩效奖金', '岗位晋升']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False

### 6 读取 Excel 文件｜指定列（列号）

<br>

**根据指定列号读取**

读取当前目录下 `某招聘网站数据.csv` 文件的第 `1、3、5` 列

In [22]:
print(data.columns)
# 错误写法1
# df_columns = data[data['positionId','companyId','industryField']]
# 总结：如果出现的是第几行第几列这样的情况用iloc,因为它是整数表示的；如果出现的是列名字，则用下下面的单元格的方式去表示,或者使用loc
df_columns = data[['positionId','companyId','industryField']]
df_columns.head()

Index(['positionId', 'positionName', 'companyId', 'companySize',
       'industryField', 'financeStage', 'companyLabelList', 'firstType',
       'secondType', 'thirdType', 'skillLables', 'positionLables',
       'industryLables', 'createTime', 'formatCreateTime', 'district',
       'businessZones', 'salary', 'workYear', 'jobNature', 'education',
       'positionAdvantage', 'imState', 'lastLogin', 'publisherId', 'approve',
       'subwayline', 'stationname', 'linestaion', 'latitude', 'longitude',
       'hitags', 'resumeProcessRate', 'resumeProcessDay', 'score', 'newScore',
       'matchScore', 'matchScoreExplain', 'query', 'explain', 'isSchoolJob',
       'adWord', 'plus', 'pcShow', 'appShow', 'deliver', 'gradeDescription',
       'promotionScoreExplain', 'isHotHire', 'count', 'aggregatePositionIds',
       'famousCompany'],
      dtype='object')

   positionId  companyId industryField
0     6802721     475770      移动互联网,电商
1     5204912      50735            电商
2     6877668     100125    移动互联网,企业服务
3     6496141      26564            电商
4     6467417      29211         物流丨运输

In [23]:
df_columns2 = data.iloc[:, 0:5:2]
df_columns2.head()

   positionId  companyId industryField
0     6802721     475770      移动互联网,电商
1     5204912      50735            电商
2     6877668     100125    移动互联网,企业服务
3     6496141      26564            电商
4     6467417      29211         物流丨运输

###  7 读取 Excel 文件｜指定列（列名）

<br>

**根据指定列名读取**

读取当前目录下 `某招聘网站数据.csv` 文件的 `positionId、positionName、salary` 列

In [25]:
df_columns_names = data[['positionId','positionName','salary']]
df_columns_names.head()

   positionId positionName  salary
0     6802721         数据分析   37500
1     5204912         数据建模   15000
2     6877668         数据分析    3500
3     6496141         数据分析   45000
4     6467417         数据分析   30000

In [26]:
df_columns_names2 = data.loc[:, ['positionId','positionName','salary']]
df_columns_names2.head()

   positionId positionName  salary
0     6802721         数据分析   37500
1     5204912         数据建模   15000
2     6877668         数据分析    3500
3     6496141         数据分析   45000
4     6467417         数据分析   30000

###  8 读取 Excel 文件｜指定列（匹配）

<br>

**根据指定列名匹配读取**

让我们来个更难一点的，还是读取 `某招聘网站数据.csv` 文件，但现在有一个 list 中包含多个字段👇

`usecols = ['positionId','test','positionName', 'test1','salary']`

如果 `usecols` 中的列名存在于 `某招聘网站数据.csv` 中，则读取。

In [29]:
usecols = ['positionId','companyId','positionName','salary']

df_cols_names = data[usecols] #千万要记住这里使用的是list放在[]里面来选去列名
df_cols_names.head()

   positionId  companyId positionName  salary
0     6802721     475770         数据分析   37500
1     5204912      50735         数据建模   15000
2     6877668     100125         数据分析    3500
3     6496141      26564         数据分析   45000
4     6467417      29211         数据分析   30000

### 9 读取 Excel 文件｜指定索引

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并在读取时将 `positionId` 设置为索引列

In [30]:
df1 = pd.read_csv("/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/某招聘网站数据.csv", index_col='positionId')
df1.head()

,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,skillLables,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
positionId,,,,,,,,,,,,,,,,,,,,,
6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,"['SQL', '数据库', '数据运营', 'BI']",...,NaN,0,0,0,NaN,NaN,0,0,[],False
5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,"['算法', '数据架构']",...,NaN,0,0,0,NaN,NaN,0,0,[],False
6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,"['数据库', '数据分析', 'SQL']",...,NaN,0,0,0,NaN,NaN,0,0,[],False
6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,[],...,NaN,0,0,0,NaN,NaN,0,0,[],True
6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,"['BI', '数据分析', '数据运营']",...,NaN,0,0,0,NaN,NaN,0,0,[],True

###  10 读取 Excel 文件｜指定标题

<br>


读取当前目录下 `某招聘网站数据.csv` 文件的 `positionId、positionName、salary` 列，并将标题设置为 `ID、岗位名称、薪资`

In [35]:
df2 = pd.read_csv("/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/某招聘网站数据.csv")
df2 = df2[["positionId","positionName","salary"]]
# df2.header = ["ID","岗位名称","薪资"]
# df2.rename(columns={'positionId':'ID', 'positionName':'岗位名称', 'salary':'薪资'}) 这样写打印出来的不会改变
df2 = df2.rename(columns={'positionId':'ID', 'positionName':'岗位名称', 'salary':'薪资'})
df2.head()

        ID  岗位名称     薪资
0  6802721  数据分析  37500
1  5204912  数据建模  15000
2  6877668  数据分析   3500
3  6496141  数据分析  45000
4  6467417  数据分析  30000

###  11 读取 Excel 文件｜缺失值转换

<br>


读取当前目录下 `某招聘网站数据.csv` 文件，**并不将缺失值标记为 `NA`**

思考：为什么要这样做？

In [36]:
## 今天遇到的问题是，要将一份csv数据读入dataframe，但某些列中含有NA值。对于这些列来说，NA应该作为一个有意义的level，而不是缺失值，
# 但read_csv函数会自动将类似的缺失值理解为缺失值并变为NaN。 看pandas文档中read_csv函数中这两个参数的描述，默认会将’-1.#IND’,
# ‘1.#QNAN’, ‘1.#IND’, ‘-1.#QNAN’, ‘#N/A N/A’,’#N/A’, ‘N/A’, ‘NA’, ‘#NA’, ‘NULL’, ‘NaN’, ‘-NaN’, ‘nan’, ‘-nan’, ''转换为NaN，
# 且na_values参数还支持定义另外的应处理为缺失值的值。值得注意的是keep_default_na参数，这个参数的作用是决定要不要保留默认应该转换的缺失值列表，
# 将这个参数设为False之后同时不定义na_values参数，就可以在读取文件时不将任何值转换为缺失值NaN。
df3 = pd.read_csv("/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/某招聘网站数据.csv", keep_default_na=False)
df3.head()

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,,0,0,0,,,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,,0,0,0,,,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,,0,0,0,,,0,0,[],True

###  12 读取 Excel 文件｜缺失值标记

<br>


读取当前目录下 `某招聘网站数据.csv` 文件，**并将`[]`标记为缺失值**

In [38]:
df4 = pd.read_csv('/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/某招聘网站数据.csv',na_values=['[]'])

### 13 读取 Excel 文件｜忽略缺失值

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，**但不处理缺失值**

思考：和之前的有什么不同，为什么这么做？

In [39]:
df5 = pd.read_csv('/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/某招聘网站数据.csv',na_filter=False)

### 14 读取 Excel 文件｜指定格式

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并将 `positionId,companyId` 设置为字符串格式

In [42]:
df5 = pd.read_csv('/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/某招聘网站数据.csv',dtype={'positionId':str, 'companyId':str})
df5 = df5[['positionId', 'createTime', 'positionName']]
df5.head()

  positionId       createTime positionName
0    6802721  2020/3/16 11:00         数据分析
1    5204912  2020/3/16 11:08         数据建模
2    6877668  2020/3/16 10:33         数据分析
3    6496141  2020/3/16 10:10         数据分析
4    6467417   2020/3/16 9:56         数据分析

### 15 读取 Excel 文件｜指定格式（时间）

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并将 `createTime` 列设置为字符串格式

In [41]:
df6 = pd.read_csv("/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/某招聘网站数据.csv",parse_dates=['createTime']) #指定时间格式
df6 = df6[['positionId', 'createTime', 'positionName']]
df6.head()

   positionId          createTime positionName
0     6802721 2020-03-16 11:00:00         数据分析
1     5204912 2020-03-16 11:08:00         数据建模
2     6877668 2020-03-16 10:33:00         数据分析
3     6496141 2020-03-16 10:10:00         数据分析
4     6467417 2020-03-16 09:56:00         数据分析

### 16 读取 Excel 文件｜分块读取


<br>

读取当前目录下 `某招聘网站数据.csv` 文件，要求返回一个可迭代对象，每次读取 10 行

思考：为什么这样做？

In [9]:
## 日常数据分析工作中，难免碰到数据量特别大的情况，动不动就2、3千万行，如果直接读进 Python 内存中，且不说内存够不够，读取的时间和后续的处理操作都很费劲。
## Pandas 的 read_csv 函数提供2个参数：chunksize、iterator ，可实现按行多次读取文件，避免内存不足情况。
import pandas as pd
df7 = pd.read_csv("/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/某招聘网站数据.csv",chunksize=10)
print(next(df7))

   positionId positionName  companyId companySize industryField financeStage  \
0     6802721         数据分析     475770     50-150人      移动互联网,电商           A轮
1     5204912         数据建模      50735    150-500人            电商           B轮
2     6877668         数据分析     100125     2000人以上    移动互联网,企业服务         上市公司
3     6496141         数据分析      26564   500-2000人            电商        D轮及以上
4     6467417         数据分析      29211     2000人以上         物流丨运输         上市公司
5     6882347         数据分析      94826     50-150人      移动互联网,社交           B轮
6     6841659         数据分析     348784     50-150人      移动互联网,电商           A轮
7     6764018      数据建模工程师      13163   500-2000人         移动互联网         上市公司
8     6458372       数据分析专家      34132    150-500人     数据服务,广告营销           A轮
9     6786904        数据分析师      13163   500-2000人         移动互联网         上市公司

                      companyLabelList  firstType secondType thirdType  ...  \
0     ['绩效奖金', '带薪年假', '定期体检', '弹性工作']  产品|需求|项目类       数据分析      数据分析  ...
1     ['年终奖金', '做五休二', '六险一金', '子女福利']  开发|测试|运维类       数据开发        建模  ...
2     ['节日礼物', '年底双薪', '股票期权', '带薪年假']  产品|需求|项目类       数据分析      数据分析  ...
3    ['生日趴', '每月腐败基金', '每月补贴', '年度旅游']  开发|测试|运维类       数据开发      数据分析  ...
4     ['技能培训', '免费班车', '专项奖金', '岗位晋升']  产品|需求|项目类       数据分析      数据分析  ...
5     ['股票期权', '扁平管理', '五险一金', '岗位晋升']  产品|需求|项目类       数据分析      数据分析  ...
6     ['大牛团队', '扁平管理', '年底双薪', '股票期权']  产品|需求|项目类       数据分析      数据分析  ...
7     ['绩效奖金', '股票期权', '年底双薪', '专项奖金']  开发|测试|运维类       数据开发        建模  ...
8  ['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']  产品|需求|项目类       数据分析    其他数据分析  ...
9     ['绩效奖金', '股票期权', '年底双薪', '专项奖金']  开发|测试|运维类       数据开发     BI工程师  ...

  plus pcShow appShow deliver gradeDescription promotionScoreExplain  \
0  NaN      0       0       0              NaN                   NaN
1  NaN      0       0       0              NaN                   NaN
2  NaN      0       0       0              NaN                   NaN
3  NaN      0       0       0              NaN                   NaN
4  NaN      0       0       0              NaN                   NaN
5  NaN      0       0       0              NaN                   NaN
6  NaN      0       0       0              NaN                   NaN
7  NaN      0       0       0              NaN                   NaN
8  NaN      0       0       0              NaN                   NaN
9  NaN      0       0       0              NaN                   NaN

  isHotHire  count aggregatePositionIds famousCompany
0         0      0                   []         False
1         0      0                   []         False
2         0      0                   []         False
3         0      0                   []          True
4         0      0                   []          True
5         0      0                   []         False
6         0      0                   []         False
7         0      0                   []          True
8         0      0                   []         False
9         0      0                   []          True

[10 rows x 52 columns]

### 17 读取 txt 文件｜常规

<br>

读取当前目录下 `Titanic.txt` 文件。

注意：在接下来的几种格式文件读取中，对于之前重复的参数/功能将不再整理，仅介绍读取功能。

In [14]:
df7 = pd.read_table("/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/Titanic.txt")
df7.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:c5a58dbb3c71f7e6ea1593430e58b31b359...
1                                         size 28627

### 18 读取 txt 文件｜含中文

<br>

读取当前目录下 `TOP250.txt` 文件。

In [15]:
df8 = pd.read_table("/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/TOP250.txt", encoding='gb18030')
df8.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:fc07222d2c2b9525d9f0328b0a76beafa8a...
1                                         size 90329

### 19 读取 JSON 文件



<br>

读取当前目录下 `某基金数据.json` 文件。

In [16]:
df9 = pd.read_json("/content/drive/MyDrive/Pandas_Advanced_Exercise-main/1 - 数据读取与存储/某基金数据.json")
df9

         净值日期   单位净值   累计净值    日增长率  申购状态  赎回状态  分红送配
0  2020-02-13  1.884  1.884  -0.11%  开放申购  开放赎回   NaN
1  2020-02-12  1.886  1.886   3.34%  开放申购  开放赎回   NaN
2  2020-02-11  1.825  1.825  -0.16%  开放申购  开放赎回   NaN
3  2020-02-10  1.828  1.828   1.33%  开放申购  开放赎回   NaN
4  2020-02-07  1.804  1.804   0.61%  开放申购  开放赎回   NaN
5  2020-02-06  1.793  1.793   3.11%  开放申购  开放赎回   NaN
6  2020-02-05  1.739  1.739   1.64%  开放申购  开放赎回   NaN
7  2020-02-04  1.711  1.711   7.34%  开放申购  开放赎回   NaN
8  2020-02-03  1.594  1.594  -7.22%  开放申购  开放赎回   NaN
9  2020-01-23  1.718  1.718  -2.05%  开放申购  开放赎回   NaN

### 20 读取 HDF5 文件

<br>

`HDF5`是一种特殊的文件格式，常见于在大规模存储数据上

关于 `pandas` 与 `hdf5` 格式文件的操作较多，下面仅学习如何读取。

读取当前目录下`store_tl.h5`文件

微信搜索公众号「早起Python」，关注后可以获得更多资源！

### 21 从剪贴板读取数据

<br>

打开当前目录下 `Titanic.txt` 文件，全选并复制。

现在直接从剪贴板读取数据。

### 22 从 SQL 读取数据

<br>

有时我们需要从 `SQL` 中读取数据，如果先将数据导出再`pandas`读取并不是一个合适的选择。

在 `pandas` 中支持直接从 `sql` 中查询并读取。

为了方便统一操作，请先执行下面的代码创建数据。

In [21]:
from sqlite3 import connect
conn = connect(':memory:')
df = pd.DataFrame(data=[[0, '10/11/12'], [1, '12/11/10']],
                  columns=['int_column', 'date_column'])
print(df)
df.to_sql('test_data', conn)

   int_column date_column
0           0    10/11/12
1           1    12/11/10

2

下面将 `SQL` 语句 `SELECT int_column, date_column FROM test_data` 转换为 `DataFrame`

In [22]:
pd.read_sql('SELECT int_column, date_column FROM test_data', conn)

   int_column date_column
0           0    10/11/12
1           1    12/11/10

### 23 从网页读取数据

<br>

直接从东京奥运会官网读取奖牌榜数据。

目标网站地址为 `https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm`

思考：什么类型的在线表格可以直接读取？

### 24 循环读取数据

<br>

在本小节 `demodata` 文件夹下有多个 `Excel` 文件，要求一次性循环读取全部文件

## 1-2 数据创建

<br>

除了直接读取本地文件，学会直接创建数据框也很重要，常见于测试一些函数，下面是从常见数据结构创建数据框的方法整理

### 25 从列表创建

<br>

将下面的 `list` 转换为 `dataframe`，并指定列名为`"早起Python"`

In [24]:
l = [1,2,3,4,5]

In [26]:
df = pd.DataFrame(l, columns=['早起Python'])  #DataFrame这里有大写，但是他不属于python，属于pandas
df

   早起Python
0         1
1         2
2         3
3         4
4         5

### 26 从列表创建｜嵌套列表

<br>

将下面的 `list` 转换为 `dataframe`，并指定行索引为`"公众号","早起Python"`

In [28]:
l = [[1,2,3],[4,5,6]]

In [32]:
df1 = pd.DataFrame(l, index = ["公众号", "早起Python"])
df1

          0  1  2
公众号       1  2  3
早起Python  4  5  6

![公众号：早起Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?域名/sample.jpg?x-oss-process=style/stylename)

### 27 从字典创建

执行下方代码，并将字典转换为`dataframe`

In [34]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]) }

In [35]:
df2 = pd.DataFrame(d)  # Series是指df中的一列，而不是一行
df2

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

### 28 从字典创建｜指定索引

<br>

还是上一题的字典`d`，将其转换为`dataframe`并指定索引顺序为 `d、b、a`

In [37]:
df3 = pd.DataFrame(d, index=['d','b','a','c'])  # Series是指df中的一列，而不是一行
df3

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0
c  3.0  3.0

### 29 从字典创建｜指定列名

<br>

还是上一题的字典`d`，将其转换为`dataframe`并指定索引顺序为 `d、b、a`，列名为`"two", "three"`

In [40]:
df4 = pd.DataFrame(d, index=['d','b','a','c'])  # Series是指df中的一列，而不是一行
df4 = df4.rename(columns={'one':'two', 'two':'three'})
df4

   two  three
d  NaN    4.0
b  2.0    2.0
a  1.0    1.0
c  3.0    3.0

### 30 从字典创建｜字典列表
<br>

将下方列表型字典转换为`dataframe`

思考：如何指定行/列索引？

In [41]:
d = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

In [42]:
df5 = pd.DataFrame(d) #字典给出来的是每一行的数据，除非像上面那样定义为series
df5

   a   b     c
0  1   2   NaN
1  5  10  20.0

### 31 从集合创建

<br>

将下面的元组转换为 dataframe 且行列索引均为 `1,2,3,4`

In [44]:
t =((1,0,0,0,),(2,3,0,0,),(4,5,6,0,),(7,8,9,10,))

In [45]:
df6 = pd.DataFrame(t)
df6

   0  1  2   3
0  1  0  0   0
1  2  3  0   0
2  4  5  6   0
3  7  8  9  10

## 1-3 数据存储

### 32 保存为 CSV

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意）

In [ ]:
data = pd.read_csv("某招聘网站数据.csv",nrows = 20)

### 33 保存为 CSV｜指定列

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意），且只保留`positionName、salary`两列

### 34 保存为 CSV｜取消索引

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意），且取消每一行的索引

### 35 保存为 CSV｜标记缺失值

<br>

在上一题的基础上，在保存的同时，将缺失值标记为`'数据缺失'`

### 36 保存为CSV｜压缩

<br>

将上一题的数据保存至 `zip` 文件，解压后出现 `out.csv`

### 37 保存为 Excel

<br>

将第三题读取到的数据保存为 `xlsx` 格式至当前目录下（文件名任意）

### 38 保存为 JSON

将之前的数据保存为 `json` 格式至当前目录下（文件名任意）

### 39 保存为 Markdown

将之前数据转换为 `markdown` 形式表格，这样可以直接复制进 `.md` 文件中使用

### 40 保存为 Html

将之前的数据保存为 `html` 格式至当前目录下（文件名任意），并进行如下设置
- 取消行索引
- 标题居中对齐
- 列宽100

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/16/16317972442543.jpg?域名/sample.jpg?x-oss-process=style/stylename)