<a href="https://colab.research.google.com/github/AngelGui/Pandas_learining/blob/main/2_pandas_%E4%B8%AA%E6%80%A7%E5%8C%96%E6%98%BE%E7%A4%BA%E8%AE%BE%E7%BD%AE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas 进阶修炼 ｜早起Python
<br>

**本习题由公众号【早起Python & 可视化图鉴】 原创，转载及其他形式合作请与我们联系（微信号`sshs321`)，未经授权严禁搬运及二次创作，侵权必究！**



本习题基于 `pandas` 版本 `1.1.3`，所有内容应当在 `Jupyter Notebook` 中执行以获得最佳效果。

不同版本之间写法可能会有少许不同，如若碰到此情况，你应该学会如何自行检索解决。

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 2 - pandas 个性化显示设置
<br>

在使用 `pandas` 时，有时默认的配置方案并不能让我们舒服的进行数据分析。

幸运的是，`pandas` 也支持我们 <font color=#E36C07>**自定义显示、样式等个性化操作**</font>。

本节将部分常用的设置整理为习题形式，<font color=#E36C07>  **所有操作答案拿走即用。既可以刷一遍来了解有这样那样的设置，也可以保存用于速查手册** </font>  

注意：本习题中未提及的配置可以点击查阅 `pandas` 👉 [**官方文档对应文章**](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html)

## 初始化

<br>

该 `Notebook` 版本为**纯习题版**

如果需要答案或者提示，可以微信搜索公众号「早起Python」获取！

## 加载数据

导入 `pandas` 并读取当前目录下 `csv` 数据(`data.csv`)

In [3]:
import pandas as pd
path = "/content/drive/MyDrive/Pandas_Advanced_Exercise-main/2 - 个性化显示设置/data.csv"

In [5]:
data = pd.read_csv(path)
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,6884346,数据分析师,21236,500-2000人,"移动互联网,医疗丨健康",C轮,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
101,6849100,商业数据分析,72076,500-2000人,"移动互联网,电商",C轮,"['节日礼物', '股票期权', '带薪年假', '年度旅游']",市场|商务类,市场|营销,商业数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
102,6803432,奔驰·耀出行-BI数据分析专家,751158,150-500人,移动互联网,不需要融资,[],开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
103,6704835,BI数据分析师,52840,2000人以上,电商,上市公司,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
104,6728058,数据分析专家-LQ(J181203029),2474,2000人以上,汽车丨出行,不需要融资,"['弹性工作', '节日礼物', '岗位晋升', '技能培训']",产品|需求|项目类,数据分析,其他数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True

## 2-1 基于 option 修改显示设置
<br>

在 `pandas` 中有一个 `option` 系统，可以通过 `set_option`方法进行进阶显示选项设置。

本小节主要整理了一些基于 `option` 修改数据显示的设置。

注意【**基于 option 修改显示设置**】并未修改数据，仅是在原有数据基础上优化显示状态，随时可以通过重置选项重置全部设置，恢复数据默认显示状态。

### 1 显示全部列

<br>
如下图所示👇，直接查看 `data` 会发现，由于数据维度较大，部分行列会被折叠，显示为`...`，现在需要显示全部的列方便预览。

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/08/19/16293397012946.jpg?域名/sample.jpg?x-oss-process=style/stylename)

在下面的 cell 中输入你的解决方案，并在最后执行 `data.head()`以检查你的答案是否正确解决问题。

In [6]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None) #显示完整的行
# pd.set_option('display.expand_frame_repr', False) #设置不折叠数据
data.head(3)

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,skillLables,positionLables,industryLables,createTime,formatCreateTime,district,businessZones,salary,workYear,jobNature,education,positionAdvantage,imState,lastLogin,publisherId,approve,subwayline,stationname,linestaion,latitude,longitude,hitags,resumeProcessRate,resumeProcessDay,score,newScore,matchScore,matchScoreExplain,query,explain,isSchoolJob,adWord,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,"['SQL', '数据库', '数据运营', 'BI']","['电商', '社交', 'SQL', '数据库', '数据运营', 'BI']","['电商', '社交', 'SQL', '数据库', '数据运营', 'BI']",2020/3/16 11:00,11:00发布,余杭区,['仓前'],37500,1-3年,全职,本科,五险一金、弹性工作、带薪年假、年度体检,today,2020/3/16 11:00,12022406,1,NaN,NaN,NaN,30.278421,120.005922,NaN,50,1,233,0,15.101875,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,"['算法', '数据架构']","['算法', '数据架构']",[],2020/3/16 11:08,11:08发布,滨江区,"['西兴', '长河']",15000,3-5年,全职,本科,"六险一金,定期体检,丰厚年终",disabled,2020/3/16 11:08,5491688,1,NaN,NaN,NaN,30.188041,120.201179,NaN,23,1,176,0,32.559414,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,"['数据库', '数据分析', 'SQL']","['数据库', 'SQL']",[],2020/3/16 10:33,10:33发布,江干区,"['四季青', '钱江新城']",3500,1-3年,全职,本科,五险一金 周末双休 不加班 节日福利,today,2020/3/16 10:33,5322583,1,4号线,江锦路,4号线_城星路;4号线_市民中心;4号线_江锦路,30.241521,120.212539,NaN,11,4,80,0,14.972357,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False

### 2 显示指定行/列

<br>

指定让 `data` 在预览时显示10列，7行

In [7]:
data_show = data.iloc[0:7,  0:10]
data_show

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析
5,6882347,数据分析,94826,50-150人,"移动互联网,社交",B轮,"['股票期权', '扁平管理', '五险一金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析
6,6841659,数据分析,348784,50-150人,"移动互联网,电商",A轮,"['大牛团队', '扁平管理', '年底双薪', '股票期权']",产品|需求|项目类,数据分析,数据分析

In [8]:
pd.set_option('display.max_rows', 7)
pd.set_option('display.max_columns', 10)
data

,positionId,positionName,companyId,companySize,industryField,...,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",...,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,...,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",...,NaN,0,0,[],False
...,...,...,...,...,...,...,...,...,...,...,...
102,6803432,奔驰·耀出行-BI数据分析专家,751158,150-500人,移动互联网,...,NaN,0,0,[],False
103,6704835,BI数据分析师,52840,2000人以上,电商,...,NaN,0,0,[],True
104,6728058,数据分析专家-LQ(J181203029),2474,2000人以上,汽车丨出行,...,NaN,0,0,[],True

### 3 还原行/列显示数

<br>
还原上面的显示设置

In [10]:
pd.reset_option('max_rows')
pd.reset_option('max_columns')

### 4 修改每列最大字符宽度

<br>

即每列最多显示的字符长度，例如【每列最多显示10个字符，多余的会变成`...`】

In [11]:
pd.set_option('display.max_colwidth', 10)
data.head()

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,['绩效奖金...,产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,['年终奖金...,开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,...",上市公司,['节日礼物...,产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,['生日趴'...,开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,['技能培训...,产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True

### 5 修改小数点精度

<br>

修改默认显示精度为小数点后5位

In [15]:
pd.set_option('display.float_format', '{:,.5f}'.format)

### 6 还原所有显示设置

还原上面的全部显示设置

In [16]:
pd.reset_option("^display")

<ipython-input-16-9993e1b881b6>:1: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option("^display")

## 2-2 更多 option 相关设置

### 7 忽略警告
<br>

取消`pandas`相关`warning`提示

### 8 设置数值显示条件

如果数值小于 20 则显示为0

In [17]:
pd.set_option('chop_threshold', 20)

### 9 让 pandas 支持 LaTex

让`dataframe`中内容支持 `Latex` 显示（需要使用`$$`包住）

### 10 修改默认绘图引擎

修改`pandas`默认绘图引擎为`plotly`（需要提前安装好`plotly`）

### 11 还原所有 option 设置

还原上面全部 option 设置

In [18]:
pd.reset_option("all")

<ipython-input-18-815ccf52250a>:1: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option("all")
<ipython-input-18-815ccf52250a>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  pd.reset_option("all")
<ipython-input-18-815ccf52250a>:1: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  pd.reset_option("all")

### 彩蛋

如何设置在预览数据时，不换行显示每列内容？

> Indented block



![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/08/19/16293394983242.jpg?域名/sample.jpg?x-oss-process=style/stylename)

In [20]:
pd.set_option('display.width', 5000)
data.head()

   positionId positionName  companyId companySize industryField financeStage                   companyLabelList  firstType secondType thirdType  ... plus pcShow appShow deliver gradeDescription promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
0     6802721         数据分析     475770     50-150人      移动互联网,电商           A轮   ['绩效奖金', '带薪年假', '定期体检', '弹性工作']  产品|需求|项目类       数据分析      数据分析  ...  NaN      0       0       0              NaN                   NaN         0      0                   []         False
1     5204912         数据建模      50735    150-500人            电商           B轮   ['年终奖金', '做五休二', '六险一金', '子女福利']  开发|测试|运维类       数据开发        建模  ...  NaN      0       0       0              NaN                   NaN         0      0                   []         False
2     6877668         数据分析     100125     2000人以上    移动互联网,企业服务         上市公司   ['节日礼物', '年底双薪', '股票期权', '带薪年假']  产品|需求|项目类       数据分析      数据分析  ...  NaN      0       0       0              NaN                   NaN         0      0                   []         False
3     6496141         数据分析      26564   500-2000人            电商        D轮及以上  ['生日趴', '每月腐败基金', '每月补贴', '年度旅游']  开发|测试|运维类       数据开发      数据分析  ...  NaN      0       0       0              NaN                   NaN         0      0                   []          True
4     6467417         数据分析      29211     2000人以上         物流丨运输         上市公司   ['技能培训', '免费班车', '专项奖金', '岗位晋升']  产品|需求|项目类       数据分析      数据分析  ...  NaN      0       0       0              NaN                   NaN         0      0                   []          True

[5 rows x 52 columns]

## 2-3 基于 style  个性化设置

上面基于 `option` 的 `pandas` 相关设置是<font color=#E36C07>全局配置</font>，一次设置会在关闭notebook前一直有效

但相关常用的设置并不多，不能满足更多的个性化需求。

幸运的是在 `pandas` 中提供 `Styler` 对象让我们进一步个性化展示数据。

本节我就将一些常用的基于 `style` 个性化设置整理为习题模式方便大家学习、巩固。

注意：基于 `style` 个性化设置<font color=#E36C07>**同样不会修改数据**</font>，所有 `data.style.xxxx` 输出的数据均是<font color=#E36C07>一次性的（可以复用、导出）</font>，因此你应该在合适的时间选择使用该方法。

下面仅列举常用的方法，若想了解更多可以查阅[**pandas官方文档对应文章👉**](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html)

###  重新加载数据

为了方便理解，重新读取`data.csv`**前20行指定列**
- `'positionName'`
- `'createTime'`（设置为时间格式）
- `'salary'`
- `'subwayline'`
- `'matchScore'`

In [35]:
data = pd.read_csv(path, usecols=[
                   'positionName', 'createTime', 'salary', 'subwayline', 'matchScore'], nrows=20, parse_dates=['createTime'])

In [36]:
data

        positionName          createTime  salary subwayline  matchScore
0               数据分析 2020-03-16 11:00:00   37500        NaN   15.101875
1               数据建模 2020-03-16 11:08:00   15000        NaN   32.559414
2               数据分析 2020-03-16 10:33:00    3500        4号线   14.972357
3               数据分析 2020-03-16 10:10:00   45000        1号线   12.874153
4               数据分析 2020-03-16 09:56:00   30000        NaN   12.755375
5               数据分析 2020-03-16 09:54:00   50000        NaN   12.718732
6               数据分析 2020-03-16 09:41:00   30000        NaN   12.615116
7            数据建模工程师 2020-03-16 11:18:00   35000        2号线    3.033237
8             数据分析专家 2020-03-16 10:57:00   60000        NaN    1.141952
9              数据分析师 2020-03-16 11:18:00   40000        2号线    1.177361
10             数据分析师 2020-03-16 10:57:00   30000        NaN    1.161869
11  大数据分析工程师(J11108) 2020-03-16 09:25:00   30000        2号线    4.245066
12           数据分析工程师 2020-03-16 11:18:00   20000        2号线    1.091051
13           资深数据分析师 2020-03-16 10:57:00   30000        NaN    1.075559
14             数据分析师 2020-03-16 10:59:00   37500        NaN    1.053428
15       产品运营（偏数据分析） 2020-03-16 10:59:00   27500        NaN    1.015806
16       资深数据分析师（杭州） 2020-03-16 10:59:00   37500        NaN    1.009167
17           大数据建模总监 2020-03-16 11:08:00   37500        NaN    2.719454
18   数据建模专家-杭州-01546 2020-03-16 11:17:00   30000        NaN    3.033237
19      数据分析专家（游戏业务） 2020-03-16 10:19:00   37500        2号线    0.834333

### 12 隐藏索引

<br>

隐藏索引列

In [37]:
bb = data.style.hide_index().set_table_attributes('style="font-size:10px"')
bb

<ipython-input-37-9f1cdae50404>:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  bb = data.style.hide_index().set_table_attributes('style="font-size:10px"')

In [28]:
# Styler.hide(axis = "index")
# data

NameError: ignored

### 13 调整精度

<br>

将带有小数点的列精度调整为小数点后2位

In [38]:
# data.style.set_precision(2).set_table_attributes('style="font-size:10px"')
# data

ss = data.style.format(precision=2)
ss

### 14 标记缺失值

将缺失值标记为`数据缺失`

In [39]:
cc = data.style.set_na_rep('数据缺失')
cc

<ipython-input-39-ba21594e095a>:1: FutureWarning: this method is deprecated in favour of `Styler.format(na_rep=..)`
  cc = data.style.set_na_rep('数据缺失')

微信搜索公众号「早起Python」，关注后可以获得更多资源！

### 15 高亮缺失值

<br>

将缺失值高亮，颜色名`skyblue`

In [40]:
dd = data.style.set_na_rep('数据缺失').highlight_null(null_color='skyblue')
dd

<ipython-input-40-d379443d2ce6>:1: FutureWarning: this method is deprecated in favour of `Styler.format(na_rep=..)`
  dd = data.style.set_na_rep('数据缺失').highlight_null(null_color='skyblue')
<ipython-input-40-d379443d2ce6>:1: FutureWarning: `null_color` is deprecated: use `color` instead
  dd = data.style.set_na_rep('数据缺失').highlight_null(null_color='skyblue')

### 16 高亮数值列最大值
<br>
将 数值格式列的最大值进行高亮

In [47]:
ee = data.style.highlight_max(['matchScore','salary'])
ee

### 17 高亮数值列最小值
<br>
将 数值格式列的最小值进行高亮

In [48]:
ff = data.style.highlight_min(['matchScore','salary'])
ff

### 18 同时高亮最大最小值

<br>

同时高亮最大值（颜色代码为`#F77802`）与最小值（颜色代码为`#26BE49`）

In [49]:
gg = data.style.highlight_min(['matchScore','salary'],color='#26BE49').highlight_max(['matchScore','salary'],color='#F77802')
gg

### 19 指定格式高亮

高亮 `salary` 列范围在 3000 - 10000 的数值

In [51]:
hh = data.style.highlight_between('salary', left=3000, right=20000)
hh

### 20 渐变显示数值列

将数值格式的列使用渐变色（绿色）进行显示，以突出趋势

In [52]:
import seaborn as sns

cm = sns.light_palette("green", as_cmap=True)
ii = data.style.background_gradient(cmap=cm)
ii

### 21 修改字体颜色

<br>

将 `salary` 列修改为红色字体

### 22 修改背景颜色、对齐方式、字体大小
<br>

将整个 `dataframe` 进行如下设置：
- 居中
- 背景色修改为 `#F8F8FF`
- 字体:13px

### 23 综合(链式)设置
<br>

除了上面的单个设置，还可以将多个设置进行结合，下面对整个 `dataframe` 进行如下设置：
- 居中
- 背景色修改为 `#F8F8FF`
- 字体:13px

并将 `salary` 列字体修改为红色

### 24 导出样式

将上一题带有样式的 `pandas` 数据框导出为本地 Excel(`.xlsx`格式)

### 25 制作指定列条形图

<br>

在 `pandas` 中对 `salary` 列使用条形图进行可视化，指定颜色`skyblue`

### 26 带有条件的样式（自定义样式）

将 `salary` 列数值大于 30000 的单元格字体修改为红色

### 27 格式化输出日期类型

<br>

将 `createTime` 列格式化输出为 `xx年xx月xx日`

### 28 指定（自定义）格式化数据

<br>

- 在 `salary` 列后增加"元"
- 对 `matchScore` 列保留两位小数并增加"分"

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/16/16317972442543.jpg?域名/sample.jpg?x-oss-process=style/stylename)