<a href="https://colab.research.google.com/github/AngelGui/Pandas_learining/blob/main/7_%E6%95%B0%E6%8D%AE%E9%80%8F%E8%A7%86%E4%B8%8E%E5%90%88%E5%B9%B6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas 进阶修炼 ｜早起Python
<br>

**本习题由公众号【早起Python & 可视化图鉴】 原创，转载及其他形式合作请与我们联系（微信号`sshs321`)，未经授权严禁搬运及二次创作，侵权必究！**



本习题基于 `pandas` 版本 `1.1.3`，所有内容应当在 `Jupyter Notebook` 中执行以获得最佳效果。


不同版本之间写法可能会有少许不同，如若碰到此情况，你应该学会如何自行检索解决。

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 7 - 数据透视与合并



<br>

**<font color = '#5172F0'><font size=3.5>必读👇👇👇**</font>
    
现在让我们继续练习 pandas数据分析另一组常用操作 --> **数据透视与合并**


本节习题将涉及四大函数：
    
- pivot_table
- concat
- merge
- join

随着练习的深入，若没有一定的基础知识将很难继续刷题
    
官方文档永远是最好的学习手册，在本节之前强烈建议学习[官方文档对应部分](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging)

## 初始化

<br>

该 `Notebook` 版本为**纯习题版**

如果需要答案或者提示，可以微信搜索公众号「早起Python」获取！

## 数据透视表

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/14/16316101294678.jpg?域名/sample.jpg?x-oss-process=style/stylename)

### 1 - 加载数据

读取当前目录下 `"某超市销售数据.csv"` 并设置千分位符号为 `,`

In [2]:
import pandas as pd
path = '/content/drive/MyDrive/Pandas_Advanced_Exercise-main/7 - 数据透视与合并/某超市销售数据.csv'
df = pd.read_csv(path)
df

,订单ID,订单日期,邮寄方式,国家,地区,省/自治区,细分,类别,子类别,制造商,产品名称,数量,销售额,利润
0,A1000001,2013/1/1,二级,中国,中南,湖南,公司,办公用品,收纳具,Rogers,"Rogers 文件车, 单宽度",5,"3,305",1322
1,A1000001,2013/1/1,二级,中国,中南,湖南,公司,家具,桌子,Barricks,"Barricks 圆桌, 白色",3,"5,289",-635
2,A1000001,2013/1/1,二级,中国,中南,湖南,公司,技术,电话,诺基亚,"诺基亚 智能手机, 整包",3,"1,725",69
3,A1000001,2013/1/1,二级,中国,中南,湖南,公司,技术,配件,贝尔金,"贝尔金 记忆卡, 实惠",3,"1,607",611
4,A1000003,2013/1/2,二级,中国,华东,福建,消费者,办公用品,收纳具,Rogers,"Rogers 盒, 工业",4,456,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9930,A1004918,2016/12/30,标准级,中国,中南,广东,消费者,技术,复印机,夏普,"夏普 墨水, 红色",1,343,-172
9931,A1004918,2016/12/30,标准级,中国,中南,广东,消费者,技术,电话,三星,"三星 音频基座, 蓝色",2,934,-389
9932,A1004924,2016/12/30,标准级,中国,中南,广东,公司,技术,设备,松下,"松下 收据打印机, 耐用",4,"1,355",-113
9933,A1004924,2016/12/30,标准级,中国,中南,广东,公司,技术,配件,Enermax,"Enermax 键区, 回收",5,772,-181
9934,A1004919,2016/12/30,标准级,中国,中南,湖南,消费者,办公用品,信封,GlobeWeis,"GlobeWeis 搭扣信封, 回收",3,122,18

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9935 entries, 0 to 9934
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   订单ID    9935 non-null   object
 1   订单日期    9935 non-null   object
 2   邮寄方式    9935 non-null   object
 3   国家      9935 non-null   object
 4   地区      9935 non-null   object
 5   省/自治区   9935 non-null   object
 6   细分      9935 non-null   object
 7   类别      9935 non-null   object
 8   子类别     9935 non-null   object
 9   制造商     9935 non-null   object
 10  产品名称    9935 non-null   object
 11  数量      9935 non-null   int64
 12  销售额     6124 non-null   float64
 13  利润      9935 non-null   int64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

### 2 - 数据透视｜默认

制作各省「平均销售额」的数据透视表

In [6]:
# pd.pivot_table(df,values = ['销售额'],index = '省/自治区')
df['销售额'] = pd.to_numeric(df['销售额'], errors='coerce')
pd.pivot_table(df,values = ['销售额'],index = '省/自治区')

              销售额
省/自治区
上海     355.037234
云南     368.128571
内蒙古    272.815126
北京     363.724409
吉林     381.706250
四川     405.481250
天津     397.100529
宁夏     383.266667
安徽     375.651163
山东     374.075912
山西     384.842466
广东     385.424028
广西     373.751724
新疆     432.294118
江苏     381.104265
江西     415.452055
河北     378.170648
河南     375.419098
浙江     341.500000
海南     400.914286
湖北     350.693467
湖南     351.840426
甘肃     398.842857
福建     353.457944
西藏     201.000000
贵州     389.560000
辽宁     376.681564
重庆     404.573529
陕西     368.465116
青海     527.000000
黑龙江    381.293598

In [8]:
pd.DataFrame(df.groupby('省/自治区')['销售额'].mean())

              销售额
省/自治区
上海     355.037234
云南     368.128571
内蒙古    272.815126
北京     363.724409
吉林     381.706250
四川     405.481250
天津     397.100529
宁夏     383.266667
安徽     375.651163
山东     374.075912
山西     384.842466
广东     385.424028
广西     373.751724
新疆     432.294118
江苏     381.104265
江西     415.452055
河北     378.170648
河南     375.419098
浙江     341.500000
海南     400.914286
湖北     350.693467
湖南     351.840426
甘肃     398.842857
福建     353.457944
西藏     201.000000
贵州     389.560000
辽宁     376.681564
重庆     404.573529
陕西     368.465116
青海     527.000000
黑龙江    381.293598

### 3 - 数据透视｜指定方法

制作各省「销售总额」的数据透视表

In [10]:
pd.pivot_table(df,values = ['销售额'],index = '省/自治区', aggfunc=sum)

            销售额
省/自治区
上海      66747.0
云南      51538.0
内蒙古     32465.0
北京      46193.0
吉林     122146.0
四川      64877.0
天津      75052.0
宁夏       5749.0
安徽     113071.0
山东     256242.0
山西      56187.0
广东     218150.0
广西      54194.0
新疆      14698.0
江苏      80413.0
江西      30328.0
河北     110804.0
河南     141533.0
浙江      42346.0
海南      14032.0
湖北      69788.0
湖南      99219.0
甘肃      27919.0
福建      75640.0
西藏        201.0
贵州       9739.0
辽宁     134852.0
重庆      55022.0
陕西      47532.0
青海       4743.0
黑龙江    172726.0

### 4 - 数据透视｜多方法

制作各省「销售总额」与「平均销售额」的数据透视表

In [12]:
import numpy as np
pd.pivot_table(df,values = ['销售额'],index = '省/自治区',aggfunc=[sum, np.mean])

            sum        mean
            销售额         销售额
省/自治区
上海      66747.0  355.037234
云南      51538.0  368.128571
内蒙古     32465.0  272.815126
北京      46193.0  363.724409
吉林     122146.0  381.706250
四川      64877.0  405.481250
天津      75052.0  397.100529
宁夏       5749.0  383.266667
安徽     113071.0  375.651163
山东     256242.0  374.075912
山西      56187.0  384.842466
广东     218150.0  385.424028
广西      54194.0  373.751724
新疆      14698.0  432.294118
江苏      80413.0  381.104265
江西      30328.0  415.452055
河北     110804.0  378.170648
河南     141533.0  375.419098
浙江      42346.0  341.500000
海南      14032.0  400.914286
湖北      69788.0  350.693467
湖南      99219.0  351.840426
甘肃      27919.0  398.842857
福建      75640.0  353.457944
西藏        201.0  201.000000
贵州       9739.0  389.560000
辽宁     134852.0  376.681564
重庆      55022.0  404.573529
陕西      47532.0  368.465116
青海       4743.0  527.000000
黑龙江    172726.0  381.293598

### 5 - 数据透视｜多指标

制作各省市「销售总额」与「利润总额」的数据透视表

In [14]:
pd.pivot_table(df,values = ['销售额','利润'],index = '省/自治区',aggfunc=sum)

           利润       销售额
省/自治区
上海      87236   66747.0
云南      83201   51538.0
内蒙古    -20685   32465.0
北京      57883   46193.0
吉林     152504  122146.0
四川     -16615   64877.0
天津      63108   75052.0
宁夏      -1149    5749.0
安徽     133312  113071.0
山东     310042  256242.0
山西      79913   56187.0
广东     278591  218150.0
广西      61444   54194.0
新疆      13696   14698.0
江苏      -6500   80413.0
江西      27144   30328.0
河北     153247  110804.0
河南     168714  141533.0
浙江     -17024   42346.0
海南      21298   14032.0
湖北     -22896   69788.0
湖南      92944   99219.0
甘肃     -25298   27919.0
福建     133791   75640.0
西藏          4     201.0
贵州       5408    9739.0
辽宁     -24930  134852.0
重庆      39688   55022.0
陕西      61753   47532.0
青海       4354    4743.0
黑龙江    228262  172726.0

### 6 - 数据透视｜多索引

制作「各省市」与「不同类别」产品「销售总额」的数据透视表

In [16]:
pd.pivot_table(df,values = ['销售额'],index = ['省/自治区','类别'], aggfunc=sum)

                 销售额
省/自治区 类别
上海    办公用品   44186.0
      家具     12773.0
      技术      9788.0
云南    办公用品   38150.0
      家具      9049.0
...              ...
青海    家具      1241.0
      技术       379.0
黑龙江   办公用品  117912.0
      家具     29006.0
      技术     25808.0

[91 rows x 1 columns]

### 7 - 数据透视｜多层

制作各省市「不同类别」产品的「销售总额」透视表

In [17]:
pd.pivot_table(df,values = ['销售额'],index = ['省/自治区','类别'], aggfunc=sum)

                 销售额
省/自治区 类别
上海    办公用品   44186.0
      家具     12773.0
      技术      9788.0
云南    办公用品   38150.0
      家具      9049.0
...              ...
青海    家具      1241.0
      技术       379.0
黑龙江   办公用品  117912.0
      家具     29006.0
      技术     25808.0

[91 rows x 1 columns]

### 8 - 数据透视｜综合

制作「各省市」、「不同类别」产品「销售量与销售额」的「均值与总和」的数据透视表，并在最后追加一行『合计』

In [19]:
pd.pivot_table(df,values = ['销售额','数量'],index = ['省/自治区','类别'], aggfunc=[sum, np.mean], margins=True)

              sum                 mean
               数量        销售额        数量         销售额
省/自治区 类别
上海    办公用品    645    44186.0  3.706897  302.643836
      家具      343    12773.0  4.132530  555.347826
      技术      217     9788.0  3.616667  515.157895
云南    办公用品    540    38150.0  3.913043  334.649123
      家具      207     9049.0  4.224490  532.294118
...           ...        ...       ...         ...
青海    技术       23      379.0  3.833333  379.000000
黑龙江   办公用品   1591   117912.0  3.657471  333.084746
      家具      651    29006.0  3.921687  547.283019
      技术      506    25808.0  3.442177  561.043478
All         20008  2294146.0  3.267146  374.615611

[92 rows x 4 columns]

### 9 - 数据透视｜筛选

在上一题的基础上，查询 **「类别」** 等于 **「办公用品」** 的详情

In [20]:
table = pd.pivot_table(df,values = ['销售额','数量'],index = ['省/自治区','类别'], aggfunc=[sum, np.mean], margins=True)
table.query('类别 == ["办公用品"]')

             sum                mean
              数量       销售额        数量         销售额
省/自治区 类别
上海    办公用品   645   44186.0  3.706897  302.643836
云南    办公用品   540   38150.0  3.913043  334.649123
内蒙古   办公用品   390   23122.0  3.391304  238.371134
北京    办公用品   465   32139.0  3.750000  309.028846
吉林    办公用品  1042   76161.0  3.520270  317.337500
四川    办公用品   525   35707.0  3.947368  313.219298
天津    办公用品   709   52991.0  3.917127  355.644295
宁夏    办公用品    45    3206.0  3.750000  320.600000
安徽    办公用品   987   72406.0  3.710526  313.445887
山东    办公用品  2518  174830.0  3.775112  324.962825
山西    办公用品   520   34824.0  3.880597  319.486239
广东    办公用品  2126  149312.0  3.908088  342.458716
广西    办公用品   522   33959.0  3.954545  308.718182
新疆    办公用品   118    9620.0  3.575758  370.000000
江苏    办公用品   743   48692.0  3.849741  312.128205
江西    办公用品   229   21993.0  3.523077  366.550000
河北    办公用品  1143   75240.0  3.968750  337.399103
河南    办公用品  1259   97566.0  3.628242  330.732203
浙江    办公用品   420   26849.0  3.684211  285.627660
海南    办公用品   116   11055.0  3.314286  368.500000
湖北    办公用品   638   46755.0  3.666667  305.588235
湖南    办公用品   951   68074.0  3.629771  302.551111
甘肃    办公用品   265   15689.0  4.206349  313.780000
福建    办公用品   726   47739.0  3.801047  300.245283
西藏    办公用品     3     201.0  3.000000  201.000000
贵州    办公用品    87    7199.0  3.954545  359.950000
辽宁    办公用品  1130   81595.0  3.741722  309.071970
重庆    办公用品   438   31712.0  3.876106  326.927835
陕西    办公用品   458   32187.0  3.816667  321.870000
青海    办公用品    40    3123.0  4.444444  520.500000
黑龙江   办公用品  1591  117912.0  3.657471  333.084746

### 10 -数据透视｜逆透视

逆透视就是将宽的表转换为长的表，例如将第 5 题的透视表进行逆透视，其中不需要转换的列为『数量』列

In [21]:
pd.pivot_table(df,values = ['销售额','利润'],index = '省/自治区',aggfunc=sum).T

省/自治区,上海,云南,内蒙古,北京,吉林,四川,天津,宁夏,安徽,山东,...,湖南,甘肃,福建,西藏,贵州,辽宁,重庆,陕西,青海,黑龙江
利润,87236.0,83201.0,-20685.0,57883.0,152504.0,-16615.0,63108.0,-1149.0,133312.0,310042.0,...,92944.0,-25298.0,133791.0,4.0,5408.0,-24930.0,39688.0,61753.0,4354.0,228262.0
销售额,66747.0,51538.0,32465.0,46193.0,122146.0,64877.0,75052.0,5749.0,113071.0,256242.0,...,99219.0,27919.0,75640.0,201.0,9739.0,134852.0,55022.0,47532.0,4743.0,172726.0

In [22]:
table = pd.pivot_table(df,values = ['销售额','利润','数量'],index = '类别',aggfunc = sum)
table

          利润     数量        销售额
类别
办公用品  752124  21389  1514194.0
家具    628052   8434   445948.0
技术    742264   7613   334004.0

In [23]:
table.melt(id_vars=['数量'],var_name='分类',value_name='金额')

      数量   分类         金额
0  21389   利润   752124.0
1   8434   利润   628052.0
2   7613   利润   742264.0
3  21389  销售额  1514194.0
4   8434  销售额   445948.0
5   7613  销售额   334004.0

## 数据合并

### concat - 数据拼接

`concat`主要用于**数据拼接**，也是非常常用的一个操作

除了官方文档外很难找到比官方文档更好的练习

以下案例来源或基于 [👉官方文档](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html) 中的案例修改而来

在练习之前应执行下方代码生成数据

并应预览不同数据的结构以及每题的图解（如果有）

In [24]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])


df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

In [25]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [26]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [27]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [28]:
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

#### 11 - <font color = '#FB8E00'>concat</font>｜默认拼接

拼接 df1 和 df2

In [30]:
pd.concat([df1,df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

#### 12 - <font color = '#FB8E00'>concat</font>｜拼接多个

垂直拼接 `df1、df2、df3`，效果如下图所示

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_basic.png)

In [31]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

#### 13 - <font color = '#FB8E00'>concat</font>｜重置索引

垂直拼接 df1 和 df4，并按顺序重新生成索引，

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_ignore_index.png)

In [33]:
pd.concat([df1,df4],ignore_index=True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

#### 14 - <font color = '#FB8E00'>concat</font>｜横向拼接

横向拼接 `df1、df4`，效果如下图所示


![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1.png)

In [34]:
pd.concat([df1,df4], axis=1)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

![公众号：早起Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?域名/sample.jpg?x-oss-process=style/stylename)

#### 15 - <font color = '#FB8E00'>concat</font>｜横向拼接（取交集）

在上一题的基础上，只取结果的交集

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_inner.png)

In [37]:
pd.concat([df1,df4],axis=1,join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

微信搜索公众号「早起Python」，关注后可以获得更多资源！

#### 16 - <font color = '#FB8E00'>concat</font>｜横向拼接（取指定）

在 14 题基础上，只取包含 df1 索引的部分

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_join_axes.png)

In [39]:
pd.concat([df1,df4],axis=1)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [40]:
pd.concat([df1,df4],axis=1).reindex(df1.index)

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

#### 17 - <font color = '#FB8E00'>concat</font>｜新增索引

拼接 `df1、df2、df3`，同时新增一个索引（`x、y、z`）来区分不同的表数据来源

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_keys.png)

In [41]:
pd.concat([df1,df2,df3],keys=['x', 'y', 'z'])

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

### merge - 数据连接

concat是拼接，merge则是连接，同样重要的一个操作

同样很难找到比官方文档更好的练习，以下案例来源或基于 [👉官方文档](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) 中的案例修改而来

在练习之前应执行每题下方的代码生成数据

并应预览不同数据的结构以及每题的图解（如果有）

#### 18 - <font color = '#1B85FF' >merge</font>｜按单键

根据 `key` 连接 `left` 和 `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key.png)

In [43]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [45]:
pd.merge(left,right)

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

#### 19 - <font color = '#1B85FF' >merge</font>｜按多键

根据 `key1` 和 `key2` 连接 `left` 和 `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_multiple.png)

In [46]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [48]:
pd.merge(left,right,on=['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

#### 20 - <font color = '#1B85FF' >merge</font>｜左外连接


如下图所示的结果连接 left 和 right，保留左表全部键
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_left.png)

In [49]:
pd.merge(left,right,how='left')

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

#### 21 - <font color = '#1B85FF' >merge</font>｜右外连接


如下图所示的结果连接 left 和 right，保留右表全部键
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_right.png)

In [50]:
pd.merge(left,right,how='right')

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

#### 22 - <font color = '#1B85FF' >merge</font>｜全外连接


如下图所示的结果连接 left 和 right，保留全部键
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_outer.png)

In [51]:
pd.merge(left,right,how='outer')

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

#### 23 - <font color = '#1B85FF' >merge</font>｜内连接


如下图所示的结果连接 left 和 right，保留交集
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_inner.png)

In [52]:
pd.merge(left,right,how='inner')

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

#### 24 - <font color = '#1B85FF' >merge</font>｜重复索引


重新产生数据并按下图所示进行连接
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_overlapped_suffix.png)

In [53]:
left = pd.DataFrame({'k': ['K0', 'K1', 'K2'], 'v': [1, 2, 3]})

right = pd.DataFrame({'k': ['K0', 'K0', 'K3'], 'v': [4, 5, 6]})

In [55]:
pd.merge(left,right,how='inner',on='k',suffixes=['_l', '_r'])

    k  v_l  v_r
0  K0    1    4
1  K0    1    5

### join - 组合

最后一个数据合并的常用且重要的操作是`join`

同样很难找到比官方文档更好的练习，以下案例来源或基于 [👉官方文档](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) 中的案例修改而来

在练习之前应执行每题下方的代码生成数据

并应预览不同数据的结构以及每题的图解（如果有）

In [56]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])


right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

#### 25 -  <font color ='#27BE49'>join</font>｜左对齐

合并 left 和 right，并按照 left 的索引进行对齐

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join.png)

In [57]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

#### 26 - <font color ='#27BE49'>join</font>｜左对齐（外连接）

按下图所示进行连接

思考：merge 做法

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_outer.png)

In [60]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

#### 27 - <font color ='#27BE49'>join</font>｜左对齐（内连接）

按下图所示进行连接

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_inner.png)

In [61]:
left.join(right, how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

#### 28 - <font color ='#27BE49'>join</font>｜按索引

重新产生数据并按下图所示进行连接（根据 `key`）

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_key_columns.png)

In [62]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})


right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                      index=['K0', 'K1'])

In [63]:
left.join(right, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

#### 29 - <font color ='#27BE49'>join</font>｜按索引（多个）

重新产生数据并按下图所示进行连接（根据 `key1` 和 `key2`）

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_multikeys.png)

In [64]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1']})


index = pd.MultiIndex.from_tuples([('K0', 'K0'), ('K1', 'K0'),
                                  ('K2', 'K0'), ('K2', 'K1')])


right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']},
                  index=index)

In [65]:
left.join(right, on=['key1','key2'])

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A3  B3   K2   K1   C3   D3

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/16/16317972442543.jpg?域名/sample.jpg?x-oss-process=style/stylename)